<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" type="image/png" href="/img/favicon.png"> -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
   
    <script src="app.js"></script>
    <title>Aadhar Address Update</title>
</head>

<body>
   <h1>Edit address</h1>
   <div>
    
     <label for="co"></label>C/O<input type="text" id="co" name="co">  <br> <br> 
     <label for="house">house</label><input type="text" id="house" name="house">  <br> <br> 
     <label for="street">street</label><input type="text" id="street" name="street">   <br> <br>
     <label for="lm">Landmark</label><input type="text" id="lm" name="lm">   <br> <br>
     <label for="loc">Locality</label><input type="text" id="loc" name="loc">   <br> <br>
     <label for="vtc">vtc</label><input type="text" id="vtc" name="vtc">   <br> <br>
     <label for="subdist">subdist</label><input type="text" id="subdist" name="subdist"><br> <br>   
     <label for="dist">dist</label><input type="text" id="dist" name="dist">   <br> <br>
     <label for="state">state</label><input type="text" id="state" name="state">   <br> <br>
     <label for="country">country</label><input type="text" id="country" name="country"> <br> <br>  
     <label for="pc">pc</label><input type="text" id="pc" name="pc">   <br> <br>
     <label for="po">po</label><input type="text" id="po" name="po">   <br> <br>

    </div>
    <button>Verify Address</button>
    <button>Send</button>
</body>

</html>