<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" type="image/png" href="/img/favicon.png"> -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
   
    <script src="app.js"></script>
    <title>Aadhar Address Update</title>
</head>

<body>
   <h1>A Consent has been request on your Phone number</h1>
   <div>
    
       <p>Please choose your choice :</p>
       <input type="radio" id="yes" name="choice" value="yes">
       <label for="yes">Yes</label><br>
       <input type="radio" id="no" name="choice" value="no">
       <label for="css">No</label><br>
       <button>Send Response
       </button>
   </div>
</body>

</html>