<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" type="image/png" href="/img/favicon.png"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="app.js"></script>
    <title>Aadhar Address Update</title>
    <style>*{box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
        body{
            max-width: 500px;
            margin: auto;
            background-color:ghostwhite;
            padding-top: 10%;
            padding-left: 8%;
        }
        button{
            border: 2px solid black;
            background-color:greenyellow;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }</style>
</head>

<body>
    <div id="div1">
        <label for="aano">Aadhar No.</label>
        <input type="text" id="aano" name="aano" /><br /><br />
        <label for="pno">Phone No.</label>
        <input type="text" id="pno" name="pno" /><br /><br />
        <div class="div" style="display: flex;">
            <div id="captchaWrapper"> </div>
            <i class="fas fa-redo-alt" onclick="createCaptcha()"></i>
        </div>
        <label for="captcha">Captcha</label>
        <input type="text" id="captcha" name="captcha" /><br /><br />
        <div id="otpWrapper"></div>
        <button onclick="generateOTP()">Check Captcha</button>
        <button onclick="getAuth()">Submit</button>
        <!-- <input type="submit" value="Submit" /> -->
        </form>
</body>
<script></script>
</html>